@page
@model F1WebSite.Views.Home.F1UnlockedModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>

<style>
    button:hover
    {
        background-color:red;
        color:white;
        
    }


</style>

</head>
<body style="background:white">
       <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Center>
    <link rel="stylesheet" href="~/css/style.css">
    
        <table>
            <tr>
                <th style="background-image: url('C:/Users/stage/Desktop/F1/F1-result-manager/F1WebSite/Views/Shared/f1_logo.png');">
                </th>
            </tr>

            <tr>

                <th><center>
                    Person 1
                </center></th>
                <th>
                    <div style="font-size:large,font-weight: bold;">
                       Unlock the inside world of F1
                    </div>
                    <div style="font-size:small">
                       With F1 Unlocked, get exclusive stories from the extraordinary humans
                    </div>
                    <div style="font-size:small">
                      behind them. Discover the latest action on and off the track, go behind-the-
                    </div>
                    <div style="font-size:small">
                       scenes and dissect post-race analysis.
                    </div>
                    <button style="border:solid;border-color:red;border-radius:5px;border-width:2px;">
                        Join F1 Unlocked free
                    </button>
                    
                </th>
            </tr>
            <tr>
                <td>
                    <div style="font-size:large,font-weight: bold;">
                        Your chance to be at F1® 75 Live
                    </div>
                    <div style="font-size:small">
                        Want to join us at F1® 75 Live next year?
                    </div>
                    <br />
                    <div style="font-size:small">
                      We’re sorry that you missed out on tickets to F1® 75 Live. Sign up or sign in
                    </div>
                    <div style="font-size:small">
                        to F1® Unlocked to be the first to hear about exclusive chances to be there
                    </div>
                     <div style="font-size:small">
                        next year.
                    </div>
                    <button style="border:solid;border-color:red;border-radius:5px;border-width:2px;">
                        Join F1 Unlocked free
                    </button>
                </td>
                <td>
                <center>
                    asdfsdaf
                </center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
    <img src="f1_logo.png" alt="F1 Logo" width="50" height="50" />
</center>


                </td>

                <td>
                    <div style="font-size:large,font-weight: bold;">
                        Unlock every detail
                    </div>
                    <div style="font-size:small">
                       Every. Detail. Covered. Immerse yourself in the race with free Live Timing
                    </div>
                    <div style="font-size:small">
                      data. Track your favourites with a live leaderboard and sector performance.
                    </div>
                    <div style="font-size:small">
                        Eavesdrop with team radio feeds.
                    </div>
                    <button style="border:solid;border-color:red;border-radius:5px;border-width:2px;">
                        Join F1 Unlocked free
                    </button>
                </td>
            </tr>
                        <tr>
                <td>
                     <div style="font-size:large,font-weight: bold;">
                     Unlock epic rewards
                    </div>
                    <div style="font-size:small">
                     Your name on a chequered flag. Driver wallpapers. Exclusive experiences.
                    </div>
                    <div style="font-size:small">
                      Access to unique rewards and giveaways is just one click away.
                    </div>
                    <button style="border:solid;border-color:red;border-radius:5px;border-width:2px;">
                        Join F1 Unlocked free
                    </button>
                </td>
                <td>
                    <center>
                        Tobias
                    </center>
                </td>
            </tr>
            <tr>
                <td><centere> 
                    16
                </centere></td>
                <td><div style="font-size:large,font-weight: bold;">
                        Unlock exclusive discounts
                    </div>
                    <div style="font-size:small">
                        Want signed memorabilia from F1 Authentics or a team shirt from F1 Store?
                    </div>
                    <div style="font-size:small">
                        Or get discount off your travel to F1 races with Qatar Airways? Get more with
                    </div>
                    <div style="font-size:small,">
                        your F1 Unlocked discount code. And hear about exclusive flash sale events.
                    </div>
                    <button style="border:solid;border-color:red;border-radius:5px;border-width:2px;">
                        Join F1 Unlocked free
                    </button></td>
            </tr>
          
        </table>
          <br />
        <h1 style="background-color:white;border:solid;border-width:5px;border-radius:10px;border-color:lightgray">

            <div>
                    <table>
                        <center>
                        <tr style="font-weight: bold;">
                             F1 Unlocked gives you more
                        </tr>
                        </center>

                        <tr>
                            <td>
                                <br/>           <!--mettere img-->
                            </td>
                            <td>
                                <br/>               <!--mettere img-->
                            </td>
                            <td>
                                <br/>                <!--mettere img-->
                            </td>

                        </tr>
                        <tr style="font-size:medium">
                            <td>
                                <center>
                                     Unlock weekly news
                                </center>
                               
                            </td>
                            <td>
                                <center>
                                     Unlock expert news
                                </center>
                            </td>
                            <td>
                               <center>
                                   F1 Unlocked isn’t over
                               </center>
                            </td>

                        </tr>
                        <tr style="font-size:small">
                            <td>
                                Be in the know. Get the latest weekly newsletters, expert content and exclusive competitions. Sent straight to your inbox.
                            </td>
                            <td>
                                Stay on the pulse of breaking news directly from our expert writers and reporters. And access unmatched and exclusive content.
                            </td>
                            <td>
                                This is just the tip of the iceberg. We're not done. Buckle up. We'll be unlocking even more in 2024.
                            </td>

                        </tr>
                    </table>
            </div>

        </h1>
        <h1 style="background-color:white;border:solid;border-width:2px;border-radius:10px;border-color:lightgray;height:60;width:1000px;">
           <center>
                <p1 style="font-size:large,font-weight: bold; ">
                The service is unavailable, please try again later.
                </p1>
           </center> 
        </h1>
    </Center> 
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>
