@{
    ViewData["Title"] = "F1 Teams";
}

<div class="text-center">
    <h1 class="display-4">Welcome a tutti</h1>
    <p>
        Discover everything you need to know about this year's Formula 1 teams - drivers, podium finishes, points earned and championship titles.
    </p>
</div>
