@page
@model F1WebSite.Views.Home.VideosampleModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Banner and Highlights</title>

</head>
<body style="background-color:black">
    <center style="border:">
        <video controls="controls" width="360px">
            <source src="~/videoplayback.mp4" type="video/mp4" />
    </center
</video>
</body>
</html>
