@page
@model F1WebSite.Views.Home.Article2Model
@{
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Offside&display=swap" rel="stylesheet">
    <style>
        /* Applica il font Offside a tutto il corpo */
        body {
            font-family: 'Offside', sans-serif;
        }

    </style>
</head>

<body>
    <h1>
        ‘This is not how I wanted things to end’ – Ocon shares emotional farewell to Alpine after ‘especially difficult’ season
    </h1>
    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,w_960,q_auto/t_16by9North/f_auto/q_auto/trackside-images/2024/F1_Grand_Prix_of_Qatar/2187744425" style="border:solid;border-color:red;border-left-color:transparent;border-bottom-color:transparent;border-width:10px;border-top-right-radius:30px;" />
    <h2>
        Esteban Ocon has taken to social media to share his thoughts on his early exit from Alpine, after he was released from the team to make way for their 2025 rookie driver Jack Doohan ahead of this weekend's season finale in Abu Dhabi.
    </h2>
    <p>
        The 28-year-old put on an incredible performance in a rain-soaked Sao Paulo Grand Prix to finish in second place ahead of team mate Pierre Gasly, before struggling in Las Vegas and Qatar, where he was unable to score points.
    </p>
    <h2>
        ANALYSIS: Why Alpine chose to release Ocon with one race left and give Doohan his debut in Abu Dhabi
    </h2>
    <p>
        Reports that Ocon would prematurely leave the Enstone outfit emerged in the paddock after the Qatar race, and Alpine then officially confirmed a deal on Monday that will allow him to drive for Haas in the Abu Dhabi post-season test, but which means he won't be racing in the final Grand Prix of the year.
    </p>
    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,w_960,q_auto/f_auto/q_auto/trackside-images/2024/F1_Grand_Prix_of_Qatar/2187723683" style="border-bottom:solid;border-bottom-color:red;border-width:10px;border-top-right-radius:30px;" />
    <p>
        He was already set to join the American team next year, but in a statement shared on Instagram he revealed that his sudden departure was not how he “wanted things to end”, despite team boss Oliver Oakes previously explaining that the move was in the best interests of all parties.Against a light grey background, Ocon wrote: “I would like to first and foremost thank the mechanics and engineers across all functions at the track, Enstone, and Viry-Chatillon who have raced alongside me these last five seasons. We have shared so much together, and I am proud to call many of you my friends.

        “I leave Alpine/Renault with great memories and the pride of having been the driver who brought the team’s best results since its return to the sport, climbing the top two steps of the podium in Bahrain, Hungary, and Brazil. It was also an honour to play a part in finishing P4 in the Constructors’ Championship in 2022.“I know how much all of those moments meant for everybody and feeling that sense of achievement and joy alongside the team is what I am taking away with me.”
    </p>
    <h2>
        TECH WEEKLY: Inside the Alpine upgrade that helped Gasly to a top-five finish in Qatar
    </h2>
    <p>
        Ocon first joined the team when it raced under the Renault name in 2020 – they provided him with a route back into Formula 1 after he was forced to take a sabbatical as Mercedes’ reserve driver the year prior.
    </p>
    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,w_960,q_auto/f_auto/q_auto/trackside-images/2024/F1_Grand_Prix_of_Qatar/2187731892" style="border-bottom:solid;border-bottom-color:red;border-width:10px;border-top-right-radius:30px;" />
    <p>
        He achieved his sole victory at the 2021 Hungarian Grand Prix where he fended off four-time champion Sebastian Vettel for the race win, and has netted a further three podiums while racing alongside Daniel Ricciardo, Fernando Alonso, and Pierre Gasly.

        The Frenchman has clashed with the latter, his childhood karting friend and rival, on occasion – in this season’s Monaco Grand Prix, the two collided when Ocon attempted a risky overtake. Soon after that race, Alpine announced he would depart the team ahead of 2025.
    </p>
    <h2>
        READ MORE: Gasly ‘gave absolutely everything’ to secure Qatar top-five finish as Alpine's P6 hopes handed a boost
    </h2>
    <p>
        He continued in his statement: “It has not been an easy year on track for the team and the second part of the season has been especially difficult. For various reasons. I do not regret a single thing knowing I gave it 100% every single session. Like I always have.
    </p>
    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,w_960,q_auto/f_auto/q_auto/trackside-images/2024/F1_Grand_Prix_of_Qatar/2187731892" style="border-bottom:solid;border-bottom-color:red;border-width:10px;border-top-right-radius:30px;" />
    <p>
        “To the hundreds of hard-working men and women at Enstone and Viry, I apologise that I will not be able to come see you in person and have a proper farewell. As you know, the plan was always to race one last time this weekend and personally say goodbye to you all next week. I was looking forward to both of those things.

        “This is not how I wanted things to end. That said, the world of F1 is small and I am sure I will see many of you again soon.
    </p>
    <h2>
        READ MORE: F2 racer Aron joins Alpine as 2025 F1 reserve driver
    </h2>
    <p>
        “I would also like to wish nothing but great things to my friend Jack as he takes this next big step in his career at the Abu Dhabi Grand Prix.”

        The driver change comes as Alpine are embroiled in a close battle for P6 in the constructors’ standings – they are just five points ahead of Haas and 13 clear of RB with just one race remaining.
    </p>
</body>