@page
@model F1WebSite.Views.Home.ArticleModel
@{
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Offside&display=swap" rel="stylesheet">
    <style>
        /* Applica il font Offside a tutto il corpo */
        body {
            font-family: 'Offside', sans-serif;
        }

    </style>
</head>

<body>
    <h1>
        ‘It wasn’t my intention’ – Lawson apologises for collision with Bottas in Qatar
    </h1>
    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,w_960,q_auto/t_16by9North/f_auto/q_auto/trackside-images/2024/F1_Grand_Prix_of_Qatar___Sprint__Qualifying/2187619003" style="border:solid;border-color:red;border-left-color:transparent;border-bottom-color:transparent;border-width:10px;border-top-right-radius:30px;" />
    <h2>
        Liam Lawson has apologised to Valtteri Bottas after he made contact with the Finn's Sauber in a failed overtake attempt on the Safety Car restart in the Qatar Grand Prix.
    </h2>
    <p>
        Lawson is under pressure to perform as he is yet to have his seat confirmed with RB – or any other team – for 2025, and has so far scored on two occasions since he was drafted in to replace Daniel Ricciardo mid-season.
    </p>
    <h2>
        ANALYSIS: Why Alpine chose to release Ocon with one race left and give Doohan his debut in Abu Dhabi
    </h2>
    <p>
        RB also struggled in Qatar last season when they crossed the line in 15th and 17th, coincidentally at a time when Lawson was rounding off his first stint in Formula 1 in his capacity as a reserve driver. <br />
        After consistently competing at the top of the midfield in 2024, their slump in performance this weekend saw them lose ground in the battle for P6 in the constructors with RB now 13 points adrift of Alpine.
    </p>
    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,w_960,q_auto/f_auto/q_auto/trackside-images/2024/F1_Grand_Prix_of_Qatar/2187723683" style="border-bottom:solid;border-bottom-color:red;border-width:10px;border-top-right-radius:30px;" />
    <p>
        Lawson finished outside the points in the Sprint and went on to qualify in P17 for the Grand Prix itself. He had a good start to the race, but it unravelled as he clashed with Bottas on the first Safety Car restart, sending both of them spinning off the track and earning him a 10-second time penalty.
        <br />
        “In these conditions we’re trying to do everything we can for warm-up,” the Kiwi explained after the race. “I thought I had more grip than I did, and I went into Turn 1 trying obviously to make the move.
    </p>
    <h2>
        READ MORE: FIA explain key decisions during Qatar Grand Prix including Safety Car deployment and Norris’s penalty
    </h2>
    <p>
        “I got halfway around the corner and realised I didn’t have the grip. I think I spun because I was trying not to hit Valtteri and I guess I did so I’m sorry for that – it wasn’t my intention.
        <br />
        “To be honest, after the spin we actually weren’t so bad. We caught the pack again and the pace was not so bad. We were just completely out of position.
    </p>
    <img src="https://media.formula1.com/image/upload/f_auto,c_limit,w_960,q_auto/f_auto/q_auto/trackside-images/2024/F1_Grand_Prix_of_Qatar/2187731892" style="border-bottom:solid;border-bottom-color:red;border-width:10px;border-top-right-radius:30px;" />
    <p>
        “Overall though we’re not quick enough to be fighting with the guys we need to be fighting with. Obviously that’s tough, we lost a lot of points. It’s a track that’s been tough for us also last year. I think we’ve made big steps this year but some more to be taken.”
        <br />
        It was a similarly disappointing race for his team mate Yuki Tsunoda who crossed the line just ahead of Lawson in P13, meaning that RB left Qatar with zero points while their closest rivals Alpine and Haas both had a driver in the top 10.
    </p>
    <h2>
        READ MORE: Verstappen says he ‘lost all respect’ for Russell after stewards’ hearing in Qatar over qualifying incident
    </h2>
    <p>
        Tsunoda explained: “I had a good start which I was aiming for. I knew the start was the only opportunity and to be honest, after that it was pretty disastrous. I didn’t expect that much of a bad pace and I just gave it everything, but it wasn’t enough at all.
        <br />
        “I’ll have to reset. Have to learn for the future... To be honest, last year was also a similar thing so we have to revise or definitely look through what’s happening here to make it better.”
    </p>

</body>